.about {
  margin: 50px auto;
}
.about-head {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 84.02%;
  text-transform: uppercase;
  text-align: center;
  color: #363636;
  width: fit-content;
  margin: 0 auto 10px auto;
  padding-bottom: 29px;
  position: relative;
}

.about-head::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 110px;
  border-bottom: 4px solid #86be3f;
}
.about > :nth-child(2) {
  font-size: 17px;
  line-height: 155.02%;
  text-align: center;
  font-weight: 400;
  padding: 41px 165px 0 165px;
}
.about-parent {
  padding: 0px 165px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 31px;
}

.about-box {
  background: linear-gradient(to top, #f8f8f8 50%, transparent 50%);
  border-radius: 6px;
  text-align: center;
  padding: 100px 15px 15px 15px;
  overflow: hidden;
}
.about-box > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}
.about-box > img {
  width: 50%;
}
.about-box > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.about-quote {
  display: grid;
  padding: 20px 250px 10px 250px;
  grid-template-columns: 1fr 10fr 1fr;
}
.about-quote > p {
  font-style: italic;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #363636;
  text-align: center;
}
.about-quote > :first-child {
  font-size: 40px;
  line-height: 100%;
  color: #9a9a9a;
  text-align: end;
}
.about-quote > :last-child {
  font-size: 40px;
  line-height: 100%;
  color: #9a9a9a;
  text-align: start;
}
.about-foot {
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 91.02%;
  text-align: center;
  color: #86be3f;
  position: relative;
  width: fit-content;
}
.about-foot::after {
  content: "";
  border-bottom: 1px solid #86be3f;
  position: absolute;

  right: -25%;

  top: 50%;
  width: 15%;
}
.about-foot::before {
  content: "";
  border-bottom: 1px solid #86be3f;
  position: absolute;
  left: -25%;

  top: 50%;
  width: 15%;
}

@media all and (max-width: 768px) {
  .about-head {
    font-size: 30px;
    line-height: 60.02%;
    margin: 0 auto 10px auto;
    padding-bottom: 20px;
  }

  .about > :nth-child(2) {
    font-size: 17px;
    line-height: 155.02%;
    padding: 41px 20px 0 20px;
  }

  .about-parent {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
  }
  .about-box {
    padding: 20px 0px 15px 0px;
  }
  .about-quote {
    justify-items: center;
    padding: 20px 20px 10px 20px;
  }
}

/* @media (min-width: 768px) {
  .about-parent {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
} */
