.faq {
  margin: 10px auto;
  padding: 100px 150px 10px 150px;
  height: 100%;
}

.faq-list {
  font-family: sans-serif;
  /* text-align: center; */
}
.faq > button {
  margin: 50px auto;
  display: block;
}

@media all and (max-width: 768px) {
  .faq {
    margin: 20px auto;
    padding: 20px;
  }
  .faq .about-head {
    font-size: 26px;

    margin: 0 auto 10px auto;
    padding-bottom: 20px;
  }
  .faq > button {
    margin: 30px auto;
  }
  .faq-list {
    padding: 10px 0;
  }
}
