.containers {
  display: flex;
  flex-direction: row;
}
.containers > * {
  display: inline-flex;

  flex: 1;
  gap: 10px;
  align-items: center;
  padding: 15px 165px 15px 165px;
  justify-content: space-evenly;
}
.containers > img {
  max-width: 30%;
}
.containers > :nth-child(2) > * > * {
  margin-right: 25px;
}
.containers > :nth-child(2) > * > :nth-child(1) {
  color: #86be3f;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
  padding: 20px 120px;
}
nav ul li {
  list-style: none;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 95.46%;
  color: #8a8888;
}

.nav-btn {
  display: none;
}
.img-box {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.a {
  padding: 50px 100px;
  width: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  transform: translate(-50%, -100%);
}
.b {
  padding: 50px 150px;
  text-align: center;
  width: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 141.02%;
  color: #ffffff;

  opacity: 0.9;
  transform: translate(-51%, -40%);
}

@media (max-width: 768px) {
  .containers > img {
    margin: auto;
  }

  .containers > * {
    padding: 5px 0;
    gap: 2px;
    width: auto;
    flex-wrap: wrap;
  }
  .containers > :nth-child(2) > * > * {
    margin-right: 0;
  }

  .navPhone {
    /* border: 2px solid #87be3f96; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 0 10px;
    transition: 0.3s;
    transform: translateX(-50%);
    opacity: 0;
    width: 200px;
    height: 420px;
    background-color: #ffffff;

    padding: 10px;
    top: 50px;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: flex-start 1;
  }
  .navPhoneComes {
    transform: translateY(0);
    opacity: 1;
    z-index: 100;
  }
  nav ul li > img {
    display: none;
  }
  nav ul li {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  }

  .nav-btn {
    display: block;
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: none;
    color: #86be3f;
    background-color: transparent;
    font-size: 1.4rem;
    z-index: 1111;
    left: 10px;

    top: 101px;
    transform: scale(1.3);
  }

  nav {
    position: relative;
    top: 0;
    left: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav .open ul {
    display: block;
  }

  /* ended menuu */

  .img-box {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
  }
  .a {
    font-size: 54px;
    word-wrap: normal;
    flex-wrap: wrap;
    line-height: 55px;
    padding: 0 20px;
    transform: translate(-50%, -150%);
  }
  .b {
    font-size: 28px;
    padding: 0 20px;
    line-height: 33px;

    text-align: center;
    transform: translate(-51%, -0%);
  }
}
