.Sire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}
.Sire > :nth-child(1) {
  width: fit-content;
  padding: 110px 0 100px 110px;
}
.Sire > :nth-child(1) > :nth-child(2) {
  position: absolute;
  
  left: 20%;
  top: 55%;
}
.Sire > :nth-child(2) > :nth-child(1) {
  font-weight: 500;
  font-size: 30px;
  line-height: 84.02%;
  text-align: start;
  color: #86be3f;
}
.Sire > :nth-child(2) > :nth-child(2) {
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  width: fit-content;
}
.Sire > :nth-child(2) > :nth-child(2)::before {
  content: "";
  position: absolute;
  width: 10%;
  padding-bottom: 50px;
  border-bottom: 4px solid #86be3f;
}
.Sire > :nth-child(2) > * {
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  .containers > :nth-child(2) > * > :nth-child(1) {
    margin-right: 7px;
  }
  .Sire > :nth-child(1) {
    width: fit-content;
    padding: 20px 0 100px 0;
  }
  .Sire > :nth-child(1) > :nth-child(1) {
    position: relative;

    object-fit: cover;
    max-width: 100%;
  }
  .Sire > :nth-child(1) > :nth-child(2) {
    position: absolute;
    left: 5%;
    top: 30%;
    object-fit: cover;
    max-width: 90%;
  }
  .Sire {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .Sire > :nth-child(2) {
    padding: 0 20px;
  }
  .Sire > :nth-child(2) > * {
    margin-bottom: 10px;
    text-align: center;
  }
  .Sire > :nth-child(2) > :nth-child(1) {
    text-align: center;
  }
  .Sire > :nth-child(2) > :nth-child(2)::before {
    padding-bottom: 40px;
  }
}
